<ng-container *transloco="let t; prefix: 'FEATURES.USERS.USER-INFO'">
    <h2 class="fw-semibold" mat-dialog-title>{{t ('TITLE')}}</h2>
    <mat-dialog-content>
        <div class="row mt-2">
            <div class="col-md-6">
                <p class="fs-6 fw-medium">{{t ('USER-NAME')}}:</p>
            </div>
            <div class="col-md-6">
                <p class="fs-6">{{user.name}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <p class="fs-6 fw-medium">{{t ('USER-LASTNAME')}}:</p>
            </div>
            <div class="col-md-6">
                <p class="fs-6">{{user.lastname}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <p class="fs-6 fw-medium">{{t ('USER-EMAIL')}}:</p>
            </div>
            <div class="col-md-6">
                <p class="fs-6">{{user.email}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <p class="fs-6 fw-medium">{{t ('USER-COMPANY')}}:</p>
            </div>
            <div class="col-md-6">
                <p class="fs-6">{{user.company_name}}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <p class="fs-6 fw-medium">{{t ('USER-ROLE')}}:</p>
            </div>
            <div class="col-md-6">
                <p class="fs-6">{{roles}}</p>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="row justify-content-center">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="onReturnClick()" cdkFocusInitial>{{t('RETURN')}}</button>
            </div>
        </div>
    </mat-dialog-actions>
</ng-container>