<ng-container *transloco="let t; prefix: 'FEATURES.CHANGE-PASSWORD'">
    <div class="profile container py-3">
        @if(!showSuccess) {
        <div class="row text-center">
            <h2 class="mb-0"> {{t('TITLE')}}</h2>
        </div>

        <div class="row justify-content-center mt-3">
            <mat-icon class="reset-icon me-2">lock_reset</mat-icon>
        </div>


        <div class="row text-center my-3">
            <p>{{t('DESCRIPTION')}}</p>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-6">
                <div class="row">
                    <label>{{t('PASSWORD')}}</label>
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="passwordFormControl">
                        @if (passwordFormControl.hasError('required')) {
                        <field-error-required></field-error-required>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-6">
                <div class="row">
                    <label>{{t('CONFIRM-PASSWORD')}}</label>
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="confirmPasswordFormControl">
                        @if (confirmPasswordFormControl.hasError('required')) {
                        <field-error-required></field-error-required>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <div class="row mx-3">
                    <button (click)="onSave()" class="btn btn-primary"
                        [disabled]="changeForm.invalid">{{t('CONTINUE')}}</button>
                </div>
            </div>
        </div>
        }
        @else {
            <div class="row justify-content-center my-5">
                <mat-icon class="success-icon me-2">check_circle</mat-icon>
            </div>
            <div class="row text-center my-5">
                <h4 class="mb-0"> {{t('SUCCESS-MESSAGE')}}</h4>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4 justify-content-center">
                    <div class="row">
                        <button [routerLink]="['/']" OpenLogin type="button" class="btn btn-primary">{{t('LOGIN')}}</button>
                    </div>
                </div>
            </div>
        }
    </div>
</ng-container>