.navbar-nav {
  text-align: center;

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; // Los elementos ocuparán todo el ancho en dispositivos pequeños
  }

  .nav-link {
    display: block;
    width: 100%; // Asegura que el enlace esté centrado
  }
}

.account {
  background-color: #FFFFFF !important;
  color: var(--bs-primary);
  border-radius: 25px;
  border: 2px solid black;

  &:hover,
  &:focus {
    background-color: var(--bs-primary) !important;
    transition: 500ms;
    color: white !important;
    border: 2px solid white;
  }
}

.link-underline {
  color: white;
  padding: 0.5rem;
  display: block;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.75px;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    color: white !important;
    background-size: 100% 2px;
  }
}
.dropdown-menu {
  position: absolute; /* Por defecto */
  top: 100%;
  left: 0;
  z-index: 1050;

  @media (max-width: 300px) {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }
}

.dropdown.show .dropdown-menu {
  display: block !important; /* Solo muestra cuando Bootstrap añade la clase `show` */
}


@media(max-width: 768px) {
  .nav-item {
    width: 100%;
    text-align: center;
  }
}