<ng-container *transloco="let t; prefix: 'FEATURES.AUTH.LOGIN'">
  <app-dialog-spinner/>
  <div class="dialog">
    <h2 class="text-center m-3">{{t('LOGIN')}}</h2>
    <form [formGroup]="loginFrom" class="align-content-center">
      <mat-dialog-content class="align-content-center">
        <div class="row justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>{{t('EMAIL-TITLE')}}</mat-label>
            <input 
              type="email" 
              matInput 
              [formControl]="emailFormControl" 
              placeholder="{{t('EMAIL-PLACEHOLDER')}}"
            />
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
              <field-error-email></field-error-email>
            }
            @if (emailFormControl.hasError('required')) {
              <field-error-required></field-error-required>
            }
          </mat-form-field> 
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>{{t('PASSWORD-TITLE')}}</mat-label>
            <input 
              matInput 
              [type]="hide() ? 'password' : 'text'" 
              [formControl]="passwordFormControl" 
              placeholder="{{t('PASSWORD-PLACEHOLDER')}}"
            />
            <button 
              mat-icon-button 
              matSuffix 
              (click)="clickEvent($event)" 
              [attr.aria-label]="'Hide password'" 
              [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (passwordFormControl.hasError('required')) {
              <field-error-required></field-error-required>
            }
          </mat-form-field>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions class="justify-content-center">
        <div class="row w-100 justify-content-center">
          <button 
            class="btn btn-primary" 
            [disabled]="loginFrom.invalid" 
            (click)="submitLoginForm()">
            {{t('LOGIN')}}
          </button>
        </div>
        <div class="row mt-4 te w-100 text-center">
          <a [routerLink]="['change-password']" (click)="closeDialog()">
            {{t('RECOVER-PASSWORD')}}
          </a>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</ng-container>
