<ng-container *transloco="let t; prefix: 'FEATURES.SERVICE-CONTRACTS'">
    <app-global-spinner></app-global-spinner>
    <div class="companies container py-4">
        <div class="row">
            <div [ngClass]="(isAdmin)? 'col-md-7' : 'col-md-9'"
                class="text-center text-md-start align-content-center mt-2">
                <h2>{{t('ADMIN.SERVICE-CONTRACTS')}}</h2>
            </div>
            @if (isAdmin) {
            <div class="col-md-2 align-content-center py-3 py-md-0 px-3">
                <div class="row justify-content-sm-center justify-content-end px-3 px-md-0">
                    <button [routerLink]="['/service-contract-term']" type="button"
                        class="btn btn-primary">{{t('ADMIN.MANAGE-SERVICE-CONTRACT-TERMS')}}</button>
                </div>
            </div>
            }

            <div class="col-md-3 align-content-center py-3 py-md-0 px-3">
                <div class="row justify-content-sm-center justify-content-end px-3 px-md-0">
                    <button type="button" class="btn btn-primary"
                        (click)="openServiceContractManageDialog(null)"><fa-icon [icon]="faPlus"></fa-icon>
                        {{t('ADMIN.CREATE-SERVICE-CONTRACT')}}</button>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <mat-form-field>
                <mat-label>{{ t('SEARCH')}}</mat-label>
                <input matInput type="text" [(ngModel)]="filterText" (input)="onFilterChange()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        
        <div class="row my-2">
            <mat-accordion class="my-2" [multi]="false">
                @for(serviceContract of pagedServiceContracts; track serviceContract.id) {
                <mat-expansion-panel class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate">{{serviceContract.company}}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{serviceContract.service}}
                            </div>
                            <div class="col-6 text-center">
                                {{serviceContract.price | currency: 'USD'}}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="javascript:void(0);" (click)="openServiceContractInfoDialog(serviceContract)">
                                    <fa-icon class="pe-2" [icon]="faInfoCircle"></fa-icon>
                                    {{t('READ-SERVICE-CONTRACT-INFO')}}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <p>{{t('READ-SERVICE-CONTRACT-INFO-DESC')}}</p>
                            </div>
                            <hr>
                        </div>
                        @if(isAdmin || isTechnician) {
                        <div class="row fs-6">
                            <div class="col-md-4">
                                <a href="javascript:void(0);"
                                    (click)="openServiceContractManageDialog(serviceContract)">
                                    <fa-icon class="pe-2" [icon]="faPencil"></fa-icon>
                                    {{t('EDIT-SERVICE-CONTRACT-INFO')}}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <p>{{t('EDIT-SERVICE-CONTRACT-INFO-DESC')}}</p>
                            </div>
                            <hr>
                        </div>
                        }

                        @if(isAdmin) {
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-danger"
                                        (click)="deleteServiceContract(serviceContract.id)">
                                        <fa-icon [icon]="faX"></fa-icon> {{t('DELETE')}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </mat-expansion-panel>
                }
            </mat-accordion>

            <mat-paginator [length]="serviceContracts.length" [pageSize]="pageSize" [pageSizeOptions]="[7, 10, 20]"
                (page)="onPageChange($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</ng-container>