<ng-container *transloco="let t; prefix: 'FEATURES.SERVICE-TAXES.SERVICE-TAX-MANAGEMENT'">
    @if(!serviceTaxData) {
    <h2 class="fw-semibold text-center" mat-dialog-title>{{t ('CREATE-SERVICE-TAX')}}</h2>
    }
    @else {
    <h2 class="fw-semibold text-center" mat-dialog-title>{{t ('EDIT-SERVICE-TAX')}}</h2>
    }
    <mat-dialog-content>
        <form [formGroup]="serviceTaxForm">
            <div class="row">
                <mat-form-field class="" appearance="fill">
                    <mat-label>{{t('SERVICE-TAX-DESC')}}</mat-label>
                    <input matInput [formControl]="taxDescriptionFormControl">
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                    <mat-label>{{t('SERVICE-TAX-VALUE')}}</mat-label>
                    <input matInput [formControl]="taxValueFormControl">
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="row justify-content-center">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="onSaveClick()"
                    cdkFocusInitial>{{t('SAVE')}}</button>
            </div>
        </div>
    </mat-dialog-actions>

</ng-container>