<ng-container *transloco="let t; prefix: 'FEATURES.ACCOUNT.PROFILE'">
    <div class="profile container py-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="d-flex align-items-center">
                    <mat-icon class="profile-icon me-2">account_circle</mat-icon>
                    <h2 class="mb-0"> {{t('MY-PROFILE')}}</h2>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-10">
                <hr>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-COMPANY')}}</p>
                </div>
                <div class="row">
                    <h4>{{this.currentUser.company_name}}</h4>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-ROLE')}}</p>
                </div>
                <div class="row">
                    @if(this.currentUser.role == 'super-admin') {
                        <h4>{{t('USER-ADMIN')}}</h4>
                    }
                    @if(this.currentUser.role == 'technician') {
                        <h4>{{t('USER-TECHNICIAN')}}</h4>
                    }
                    @if(this.currentUser.role == 'client') {
                        <h4>{{t('USER-CLIENT')}}</h4>
                    }
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-2">
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-NAME')}}</p>
                </div>
                <div class="row">
                    <mat-form-field class="" appearance="fill">
                        <input matInput [formControl]="nameFormControl">
                        @if (nameFormControl.hasError('required')) {
                            <field-error-required></field-error-required>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-LASTNAME')}}</p>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="lastnameFormControl">
                        @if (lastnameFormControl.hasError('required')) {
                            <field-error-required></field-error-required>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-10">
                <div class="row">
                    <p>{{t('USER-EMAIL')}}</p>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="emailFormControl">
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                            <field-error-email></field-error-email>
                        }
                        @if (emailFormControl.hasError('required')) {
                            <field-error-required></field-error-required>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="row justify-content-center mt-2">
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-PASSWORD')}}</p>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="passwordFormControl">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <p>{{t('USER-PASSWORD-2')}}</p>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <input matInput [formControl]="confirmPasswordFormControl">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-4">
                <div class="row mx-3">
                    <button (click)="saveInfo()" class="btn btn-primary" [disabled]="userForm.invalid">{{t('SAVE')}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>