<ng-container *transloco="let t; prefix: 'FEATURES.SETTINGS.AI-SETTINGS'">
    <app-global-spinner></app-global-spinner>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-10 align-content-center py-3 py-md-0 px-3 mt-2">
                <div class="row justify-content-sm-center justify-content-end px-3 px-md-0">
                    <h2>{{t('AI-SETTINGS')}}</h2>
                </div>
            </div>
            
            <div class="col-md-2 align-content-center py-3 py-md-0 px-3">
                <div class="row justify-content-sm-center justify-content-end px-3 px-md-0">
                    <button [routerLink]="['/settings']" routerLinkActive="router-link-active" type="button"
                        class="btn btn-secondary"><fa-icon [icon]="faArrowLeft"></fa-icon> {{t('RETURN')}}</button>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">

        </div>
    </div>
</ng-container>