<ng-container *transloco="let t; prefix: 'FEATURES.SETTINGS.GENERAL-SETTINGS'">
    <div class="companies container py-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start align-content-center">
                <h2>{{t('GENERAL-SETTINGS')}}</h2>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row my-2">
            <div class="row justify-content-between">
                <div class="col-md-6 mt-2 mt-md-0">
                    <div class="row mx-md-1">
                        <mat-card [routerLink]="['/email-settings']" class="report-card">
                            <mat-card-content class="text-center">
                                <mat-icon>mail</mat-icon>
                            </mat-card-content>
                            <mat-card-footer class="text-center">
                                <h4>{{t('EMAIL-SETTINGS')}}</h4>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-6 mt-2 mt-md-0">
                    <div class="row mx-md-1">
                        <mat-card class="report-card">
                            <mat-card-content class="text-center">
                                <mat-icon>psychology</mat-icon>
                            </mat-card-content>
                            <mat-card-footer class="text-center">
                                <h4>{{t('IA-SETTINGS')}}</h4>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>