@use '@angular/material' as mat;
@use 'styles/m3-theme.scss' as custom-theme;

@include mat.core();

$mindsoft-red: #FF4438;
$mindsoft-blue: #FFFFFF;
$btn-font-size: 16px;

[data-bs-theme='dark'] {
  //LAYOUT 
  --bs-body-bg: #2B3035;
  --bs-body-color: #e0e0e0;
  --bs-primary: #FF4438;
  --bs-secondary: #001689;
  --bs-navbar-bg: #1F1F1F;
  --bs-mat-element: #151515;

  //MATERIAL VARIABLES
  --mat-paginator-container-background-color: #212529;
  --mat-paginator-container-text-color:  #FFFFFF;
  --mat-select-enabled-trigger-text-color:  #FFFFFF;
  --mdc-filled-text-field-label-text-color: ;
  --mdc-icon-button-icon-color: #FFFFFF;

  --mat-icon-color: #FFFFFF;
  --mat-expansion-container-background-color: #FFFFFF;

  --mdc-filled-text-field-container-color: #2B3035;
  --mdc-filled-text-field-input-text-color: #FFFFFF;
  --mdc-filled-text-field-label-text-color: #FFFFFF;
  --mat-app-surface-variant: #2B3035;
  --mat-app-surface: #2B3035;

}

[data-bs-theme='light'] {
  //LAYOUT
  --bs-body-color: #FFFFFF;
  --bs-secondary: #001689;
  --bs-navbar-bg: #1F1F1F;
  --bs-mat-element: #FFFFFF;

  //MATERIAL VARIABLES
  --mat-paginator-container-background-color: #FFFFFF;
  --mat-paginator-container-text-color:  #000000;
  --mat-select-enabled-trigger-text-color:  #000000;
  --mdc-icon-button-icon-color: #000000;

  --mat-icon-color: #000000;
  --mat-expansion-container-background-color: #FFFFFF;

  --mdc-filled-text-field-container-color: #FFFFFF;
  --mdc-filled-text-field-input-text-color: #000000;
  --mdc-filled-text-field-label-text-color: #000000;
  --mat-app-surface-variant: #FFFFFF;
  --mat-app-surface: #FFFFFF;
  
}

$primary: #FF4438;
$btn-color: #FFFFFF;
$btn-font-size: 16px;

$btn-border-radius: 25px;

$btn-primary-color: white;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  #page-container {
    position: relative;
    min-height: 100vh;

    header {
      z-index: 1000;
      background-color: var(--bs-navbar-bg);
      position: sticky;
      opacity: 99%;
      top: 0;
    }

    main {
      padding-bottom: 3.5rem;
    }
    
    footer {
      background-color: var(--bs-navbar-bg);
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.btn-primary {
  color: $btn-color; // o directamente #FFFFFF;
}

.dropdown-item:hover {
  background-color: var(--bs-primary) !important;
  color: #FFFFFF;
  cursor: pointer;
}

//ANGULAR MATERIAL CUSTOM ELEMENTS

.mat-mdc-dialog-surface {
  background-color: var(--bs-mat-element) !important;

  .dialog-title {
    background-color: var(--bg-color-layout);

    .close-btn {
      cursor: pointer;
    }
  }

  .dialog-content {
    background-color: var(--bs-body-bg);

    p {
      color: var(--text-color);
    }
  }

  .dialog-actions {
    background-color: var(--bs-body-bg);

    .continue-btn {
      background-color: #66BB6B;
      width: 90%;
      border: 2px solid #66BB6B;
      color: #FFFFFF;
      border-radius: 10px;
      padding: 0.5rem;
      display: block;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.75px;
      text-decoration: none;
      text-transform: uppercase;
      transition: 500ms;

      &:hover {
        transition: 200ms;
        cursor: pointer;
        background-color: #FFFFFF;
        color: #66BB6B !important;
        background-size: 100% 2px;
      }
    }

    .cancel-btn {
      background-color: #F54A3D;
      width: 90%;
      border: 2px solid #F54A3D;
      color: #FFFFFF;
      border-radius: 10px;
      padding: 0.5rem;
      display: block;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.75px;
      text-decoration: none;
      text-transform: uppercase;
      transition: 500ms;

      &:hover {
        transition: 200ms;
        cursor: pointer;
        background-color: #FFFFFF;
        color: #F54A3D !important;
        background-size: 100% 2px;
      }
    }
  }
}




mat-accordion {
  background-color: var(red);

  mat-expansion-panel {
    .mat-expansion-panel-body {
      background-color: var(--bs-body-bg);
      color: var(--text-color);

      mat-card {
        background-color: var(--bg-element);
      }
    }
  }
}

mat-label {
  color: var(--text-color);
  /* Cambia el color globalmente */
}

mat-select {
  color: var(--text-color);
  /* Cambia el color globalmente */
}

hr {
  background-color: var(--bs-body-bg) !important;
}

mat-card {
  border-radius: 1rem !important;
  background-color: var(--bg-element) !important;

  mat-card {
    background-color: var(--bs-body-bg) !important;
  }

}

.mat-mdc-checkbox .mdc-form-field {
  color: var(--text-color) !important;
}

mat-stepper {
  background-color: var(--bs-body-bg) !important;
  color: var(--text-color) !important;

  .mat-step-header .mat-step-label {
    color: var(--text-color) !important;
    /* Cambia el color del texto de los headers */
  }
}

label {
  color: var(--text-color) !important;
}

.mat-mdc-row:nth-child(1n) {
  background-color: var(--bg-element);

  .mat-mdc-cell {
    color: var(--text-color);
  }
}

.mat-mdc-row:nth-child(2n) {
  background-color: var(--bs-body-bg);
}
