<ng-container *transloco="let t; prefix: 'FEATURES.TICKETS.TICKET-TECHNICIAN-HISTORY'">
    <h2 class="fw-semibold" mat-dialog-title>{{t ('TITLE')}}</h2>
    <mat-dialog-content>
        <hr>
        @for(item of ticketHistory; track item.id) {
            <div class="row ps-3">
                 <p class="fs-6"> <mat-icon class="me-2 pt-1">chevron_right</mat-icon>{{item.created_at}} :  {{item.action}}</p>
                <hr>
            </div>
           
        }
    </mat-dialog-content>
    <mat-dialog-actions class="row justify-content-center">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="onReturnClick()" cdkFocusInitial>{{t('RETURN')}}</button>
            </div>
        </div>
    </mat-dialog-actions>
</ng-container>
