<ng-container *transloco="let t; prefix: 'FEATURES.SETTINGS.RECYCLE-BIN'">
    <app-global-spinner></app-global-spinner>
    <div class="companies container py-4">
        <div class="row">
            <div class="col-md-9 text-center text-md-start align-content-center">
                <h2>{{ t('RECYCLE-BIN') }}</h2>
            </div>
            <div class="col-md-3 align-content-center py-md-0 px-3">
                <div class="row justify-content-sm-center justify-content-end px-3 px-md-0">
                    <button [routerLink]="['/settings']" routerLinkActive="router-link-active" type="button" class="btn btn-secondary">
                        <fa-icon [icon]="faArrowLeft"></fa-icon> {{ t('RETURN') }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row my-3">
            <!-- Users Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadUsersTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('USER-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['users']" (input)="onFilterChange('users')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let user of usersFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ user.email }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(user.id, 'users')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="usersFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Companies Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadCompaniesTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('COMPANY-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['companies']" (input)="onFilterChange('companies')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let company of companiesFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ company.name }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(company.id, 'companies')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="companiesFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Service Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadServicesTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('SERVICE-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['service']" (input)="onFilterChange('service')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let service of servicesFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ service.description }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(service.id, 'service')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="servicesFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Service Category Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadServiceCategoriesTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('SERVICE-CATEGORY-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['serviceCateory']" (input)="onFilterChange('serviceCategory')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let category of serviceCategoriesFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ category.category }} </p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(category.id, 'serviceCategory')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="serviceCategoriesFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Service Tax Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadServiceTaxesTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('SERVICE-TAX-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['servicetTax']" (input)="onFilterChange('serviceTax')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let tax of servicetaxesFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ tax.description }} ({{tax.value}})</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(tax.id, 'serviceTax')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="servicetaxesFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Service Contracts Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadServiceContractsTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('SERVICE-CONTRACT-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['serviceContracts']" (input)="onFilterChange('serviceContracts')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let contract of serviceContractsFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ contract.service }} - {{ contract.company }} - {{ contract.created_at }} </p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(contract.id, 'serviceContracts')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="serviceContractsFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Service Contract Terms Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadServiceContractTermsTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('SERVICE-CONTRACT-TERM-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['serviceContractTerms']" (input)="onFilterChange('serviceContractTerms')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let term of serviceContractTermsFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ term.term }} ({{ term.months }})</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(term.id, 'serviceContractTerms')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="serviceContractTermsFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Tickets Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadTicketsTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('TICKET-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['tickets']" (input)="onFilterChange('tickets')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let ticket of ticketsFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ ticket.title }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(ticket.id, 'tickets')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="ticketsFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Email Templates Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadEmailTemplatesTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('EMAIL-TEMPLATE-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['emailTemplates']" (input)="onFilterChange('emailTemplates')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let template of emailTemplatesFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ template.template_name}}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(template.id, 'emailTemplates')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="emailTemplatesFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- Email Intervals Table -->
            <mat-accordion class="my-2" [multi]="false">
                <mat-expansion-panel (opened)="loadEmailIntervalsTable()" class="mt-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-truncate"> {{ t('EMAIL-INTERVAL-TABLE') }}</mat-panel-title>
                        <mat-panel-description class="row">
                            <div class="col-6 text-center">
                                {{ t('OPEN-TABLE') }}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>{{ t('SEARCH') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="filterTexts['emailIntervals']" (input)="onFilterChange('emailIntervals')">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="ps-md-4 mt-2">
                        <div *ngFor="let interval of emailIntervalsFiltered" class="row">
                            <div class="col-md-6">
                                <p>{{ interval.type }} ({{interval.days}})</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <button class="btn btn-secondary" (click)="restore(interval.id, 'emailIntervals')">{{ t('RESTORE') }}</button>
                            </div>
                        </div>
                        <div *ngIf="emailIntervalsFiltered.length === 0" class="row">
                            <div class="col-md-6">
                                <p>{{ t('NO-RECORDS') }}</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</ng-container>
